*{padding: 0; margin: 0;box-sizing: border-box;}
html,body{width:100%; height:100%; background-color: #fff;}
.cont{
	width: 100%; height: 80%; background-color: #eee; padding: 20px; padding-bottom: 0; display: flex; align-items: stretch; justify-content: space-between; flex-wrap: wrap;
	section{background-color: #fff; border: 1px #aaa solid; flex:1 0 45%; margin-right: 20px; margin-bottom: 20px; padding: 10px;
		display: flex; flex-direction: column; justify-content: space-between;
		&:nth-child(2n){margin-right: 0;}
	}
	h2{font-size: 20px;background-color: #eee;border: 1px #ccc solid; margin-bottom: 10px;}
	article{ 
		flex: 1; 
		display: flex; align-items: stretch;
		
		.art{
			background-color: #fff1ea; border: 1px #999 solid; flex:1 0 45%; margin-right: 10px; padding: 10px;
			&:nth-child(2n){margin-right: 0;}
		}
	}
}

section.cc{font-size: 50px; flex-direction: row; justify-content: center;align-items: center;}
.art2{display: flex; align-items: center; justify-content: center;}