<section class="layout">
  <nav class="layout_head">
    <div class="left" @click="$emit('close')"><i class='iconfont icon-return'></i> 关闭</div>
    <h1>{{tit}}--{{pid}}</h1>
    <div class="right"></div>
  </nav>
  
  <div class="layout_body scroll">
    <div class="du_form">
      <dl class="p30 scroll">
        <dd v-for="item in arr">
          <label>{{item.label}}</label>
          <yd-input v-model="item.val" :placeholder="item.placeholder" v-if="item.type=='input'"></yd-input>
          <yd-datetime type="time" v-model="item.val" v-if="item.type=='time'"></yd-datetime>
          <yd-datetime type="date" v-model="item.val" v-if="item.type=='date'"></yd-datetime>
          <el-select v-model="item.val" placeholder="请选择" v-if="item.type=='select'">
              <el-option v-for="iii in item.option" :key="iii" :label="iii" :value="iii"> </el-option>
          </el-select>
        </dd>
      </dl>
      
      <yd-button size="large" type="warning" @click.native="form_submit"><i class='iconfont icon-addition'></i> 确定</yd-button>
    </div>
  </div>
</section>