<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no'>
    <title>文件列表</title>
    <style>
    body{padding: 10px;}
    table{ border-collapse: collapse; width: 100%; border: 1px #ccc solid; margin-bottom: 30px;}
    caption{padding-bottom: 5px;}
    td,th{border: 1px #ccc solid; padding:10px 5px; font-size: 12px;}
    td a{color: #666;}
    td:nth-child(1){width: 34%;}
    td:nth-child(2){white-space: nowrap;}
    td.cut{height: 10px; padding: 0; background-color: #ccc;}

    tr.sub td{ background-color: #eee; }
    tr.sub td:first-child{ padding-left: 2em; }
    </style>
  </head>
  <body>
    <h1>IRH项目页面列表</h1>
      <div id="app">
        <h4>命名规则：p字头为原型图“首页”,t字头为原型图“数据录入”从属的页面,my为原型图“我”从属页面,know为知识库,其它按英文字面义</h4>
        <table v-cloak>
          <caption>共{{tt1}}页</caption>
          <tr>
            <th>描述</th>
            <th>链接</th>
            <th>备注</th>
          </tr>
          <tr v-for="item in list" :class=" {'sub':item.sub} ">
            <template v-if="!item.cut">
              <td>{{item.tit}}</td>
              <td><a :href="item.url">{{item.url}}</a></td>
              <td>{{item.mark}}</td>
            </template>

            <template v-if="item.cut">
              <td colspan="3" class="cut"></td>
            </template>
          </tr>
        </table>

        <table v-cloak>
          <caption>共{{list2.length}}个</caption>
          <tr>
            <th>描述</th>
            <th>链接</th>
            <th>备注</th>
          </tr>
          <tr v-for="item in list2" :class=" {'sub':item.sub} ">
            <template v-if="!item.cut">
              <td>{{item.tit}}</td>
              <td><a :href="item.url">{{item.url}}</a></td>
              <td>{{item.mark}}</td>
            </template>

            <template v-if="item.cut">
              <td colspan="3" class="cut"></td>
            </template>
          </tr>
        </table>


      </div>
  </body>
</html>

<script src="plugins/vue2.js"></script>
<script src="plugins/lodash.min.js"></script>
<script>
    var vm = new Vue({
      el: '#app',
      methods: {
          ddd:function(){} },
      computed: {
        tt1:function() {
          var aa = _.filter(this.list, function(o) { return o.url; });
          return aa.length;
        }
      },
      data: {
        list:[
            {tit:"首页",url:"main.html",mark:""},
            {tit:"--------",cut:1},
            {tit:"每日作业",url:"p2.html",mark:""},
            {tit:"每日作业新增",url:"p2_1.html",mark:""},
            {tit:"--------",cut:1},
            {tit:"设置作业",url:"p7.html",mark:""},
            {tit:"编辑作业",url:"p7_2.html",mark:""},
            {tit:"--------",cut:1},
            {tit:"数据录入--就医记录",url:"t8.html",mark:""},
            {tit:"新增就医记录",url:"t8_2.html",mark:""},
            {tit:"编辑就医记录",url:"t8_3.html",mark:""},
            {tit:"病历列表",url:"t8_5.html?id=28",mark:""},
            {tit:"新增门诊病历",url:"t8_7_1.html?id=28",mark:""},
            {tit:"--------",cut:1},
            {tit:"知识库首页",url:"know.html",mark:""},
            {tit:"知识库列表",url:"know_list.html",mark:""},
            {tit:"--------",cut:1},
            {tit:"我",url:"my.html",mark:""},
            {tit:"我_健康档案",url:"my14_1.html",mark:"ljy"},
            {tit:"登录",url:"login.html",mark:""},
            {tit:"忘记密码",url:"forgot.html",mark:""},
            {tit:"修改密码",url:"change_psw.html",mark:""},
            {tit:"我的信息",url:"my_info.html",mark:""},
            {tit:"--------",cut:1},
            {tit:"健康预报",url:"p5.html",mark:""},
            {tit:"健康自诊",url:"p8.html",mark:""},
            {tit:"--------",cut:1},
            {tit:"健康日记",url:"p3.html",mark:"ljy"},
            {tit:"健康日记新增",url:"p3_1.html",mark:"ljy"},
            {tit:"健康日记详情",url:"p3_2.html",mark:"ljy"},
            {tit:"健康预报详情",url:"p5_1.html",mark:"ljy"},
            {tit:"健康自诊",url:"p8_2.html",mark:"ljy"},
            {tit:"--------",cut:1},
            {tit:"已完成的服务",url:"demo_completed_service.html",mark:"zh"},
            {tit:"医生列表",url:"demo_doctor_list.html",mark:"zh"}
          ],

          list2:[
            {tit:"列表",url:"du_list",mark:"常用"},
            {tit:"作业项目下拉",url:"du_project_id",mark:""},
            {tit:"病种多选",url:"du_demand_names",mark:""},
            {tit:"a链接通过地址传参",url:"aa",mark:""},
            {tit:"接收传参地址的返回链接",url:"bb",mark:""},

            {tit:"底部四联导航",url:"du_nav_foot",mark:""},
            {tit:"双联时间段",url:"du_date_filter",mark:""},
            {tit:"生理参数下拉选择器",url:"du_physiological_menu",mark:""},

            {tit:"上传组件-普通",url:"du_upload",mark:"未完"},
            {tit:"头部",url:"du_header",mark:""},

            {tit:"弹出评价",url:"zh_poprate",mark:"zh"},
            {tit:"弹出信息",url:"zh_popinfo",mark:"zh"}
          ]
        }
    });

</script>